<p>
  Name: {{ nameField.valid }}
 <input
  [class.is-valid]="isNamefieldValid"
  [class.is-invalid]="isNamefieldInvalid"
  type="text"
  [formControl]="nameField"/>


  <button [disabled]="nameField.invalid" (click)="getNameValue()">Get Value</button>

  <!-- <code>
    <pre> {{ nameField | json }} </pre>
  </code> -->
</p>

<div class="messages" [class.activate]="isNamefieldInvalid"></div>
<p>
  <strong *ngIf=" nameField.touched && nameField.hasError('required')">Este campo es Requerido</strong>
</p>

<p>
  <strong *ngIf=" nameField.touched && nameField.hasError('maxlength')">Debe tener 10 caracteres max</strong>
</p>


<p>
   Email: {{ nameField.value }}

  <input type="email" [formControl]="emailField" />

</p>


<p>
  Phone: {{ phoneField.value }}

 <input type="tel" [formControl]="phoneField" />

</p>


<p>
  Color: {{ colorField.value }}

 <input type="color" [formControl]="colorField" />

</p>


<p>
  Date: {{ dateField.value }}

 <input type="date" [formControl]="dateField" />

</p>


<p>
  Phone: {{ ageField.value }}

 <input type="number" [formControl]="ageField" />

</p>

<p>
  Category : {{ categoryField.value}}
  <select [formControl]="categoryField" multiple size="3">
    <option value="01">Category 1</option>
    <option value="02">Category 2</option>
    <option value="03">Category 3</option>
    <option value="04">Category 4</option>
  </select>
</p>


<p>
  Tags : {{ tagField.value}}
  <select [formControl]="tagField" multiple size="7">
    <option value="100">Tags 1</option>
    <option value="200">Tags 2</option>
    <option value="300">Tags 3</option>
    <option value="400">Tags 4</option>
    <option value="500">Tags 5</option>
    <option value="600">Tags 6</option>
    <option value="700">Tags 7</option>
    <option value="800">Tags 8</option>
    <option value="900">Tags 9</option>
  </select>
</p>


<p>
  Agree : {{ agreeField.value}}
  <input type="checkbox" [formControl]="agreeField"/>
</p>

<p>
   Gender : {{ genderField.value}}
 <label>
   <input name="gender" type="radio" value="Masculino" [formControl]="genderField"/>
   Male
 </label>
 <label>
  <input name="gender" type="radio" value="Femenino" [formControl]="genderField"/>
  Female
</label>
<label>
  <input name="gender" type="radio" value="Otro" [formControl]="genderField"/>
  Other
</label>
</p>

<p>
  Zone : {{ zoneField.value}}
<label>
  <input name="zone" type="radio" value="Zoneino" [formControl]="zoneField"/>
  Male
</label>
<label>
 <input name="zone" type="radio" value="Femenino" [formControl]="genderField"/>
 Female
</label>
<label>
 <input name="zone" type="radio" value="Otro" [formControl]="genderField"/>
 Other
</label>
</p>
